<div class="d-flex justify-content-center p-3">
  <div class="text-center p-3 align-items-stretch" style="min-width: 35%;">
    <div
      class="tile-item p-4 py-5 rounded-4 d-flex flex-column justify-content-between h-100"
    >
      <div class="mb-3 pb-3">
        <h2 class="fs-3 fw-bold">Contact Us</h2>
        <form [formGroup]="contactUsForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div>
                <div class="form-floating">
                  <input class="form-control px-4" type="email" autocomplete="off"
                    placeholder="Email" formControlName="email" />
                  <label>Email</label>
                  <app-validation-message [control]="contactUsForm.get('email')" />
                </div>
              </div>
              <div>
                <div class="form-floating">
                  <input class="form-control px-4" type="text" autocomplete="off"
                    placeholder="Name" formControlName="name" [maxlength]="globalDatas.MAX_LENGTH_LIMIT"/>
                  <label>Name</label>
                  <app-validation-message [control]="contactUsForm.get('name')" />
                </div>
              </div>
              <div>
                <div class="form-floating">
                    <textarea class="form-control"
                    placeholder="Enter your message"
                    autocomplete="off" formControlName="message"
                    style="height: 100px;"></textarea>
                  <label>Message</label>
                  <app-validation-message [control]="contactUsForm.get('message')" />
                </div>
              </div>
              <div>
                <button class="btn btn-secondary px-5 py-2 mt-5 fs-6 rounded-5">
                    Submit
                  </button>
              </div>
        </form>
      </div>
    </div>
  </div>
</div>

<ng-template #successTpl> 'Email sent successfully!' </ng-template>

<ng-template #dangerTpl>
	{{this.errorMessage}}
</ng-template>