<!-- <div
  class="tile1-container d-flex flex-column justify-content-center flex-lg-row p-3"
>
  <div class="text-center p-3 align-items-stretch">
    <div
      class="tile-item p-4 py-5 rounded-4 d-flex flex-column justify-content-between h-100"
    >
      <div class="mb-3 pb-3">
        <h2 class="fs-3 fw-bold">Low Transaction Fees</h2>
        <p class="lead fw-normal text-secondary fs-6">
          Save significantly on transaction costs with our blockchain-powered
          payment system.
        </p>
      </div>
      <img class="rounded-4 w-100" src="assets/images/low-transaction.jpeg" />
    </div>
  </div>
  <div class="text-center p-3 align-items-stretch">
    <div
      class="tile-item p-4 py-5 rounded-4 d-flex flex-column justify-content-between h-100"
    >
      <div class="mb-3 pb-3">
        <h2 class="fs-3 fw-bold">Instant Settlement</h2>
        <p class="lead fw-normal text-secondary fs-6">
          Receive funds immediately without waiting days for payment processors.
        </p>
      </div>
      <img
        class="w-100 rounded-4"
        src="assets/images/instant-settlement.jpeg"
      />
    </div>
  </div>
  <div class="text-center p-3 align-items-stretch">
    <div
      class="tile-item p-4 py-5 rounded-4 d-flex flex-column justify-content-between h-100"
    >
      <div class="mb-3 pb-3">
        <h2 class="fs-3 fw-bold">Global Reach</h2>
        <p class="lead fw-normal text-secondary fs-6">
          Enable seamless cross border payments using stablecoins and blockchain
          technology.
        </p>
      </div>

      <img class="w-100 rounded-4" src="assets/images/global-reach.jpeg" />
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-4">
        <div class="mb-3 pb-3">
          <h2 class="fs-3 fw-bold">Low Transaction Fees</h2>
          <p class="lead fw-normal text-secondary fs-6">
            Save significantly on transaction costs with our blockchain-powered
            payment system.
          </p>
        </div>
        <img class="rounded-4 w-100" src="assets/images/low-transaction.jpeg" />
    </div>
  </div>
</div> -->

<div class="d-md-flex flex-md-equal w-100 mb-md-3">
  <div
    class="background-primary-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden d-flex flex-column justify-content-between">
    <div class="my-3 py-3">
      <h2 class="display-6 fw-semibold text-primary">Low Transaction Fees</h2>
      <p class="lead fw-normal">
        Save up to 70% vs traditional card processors.
        Pay just 0.8% for UK & EU sales and 1.4% for international.
        No hidden charges. Ever.
      </p>
    </div>
    <div class="bg-body-tertiary shadow-sm mx-auto low-transaction"
      style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"></div>
  </div>
  <div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden d-flex flex-column justify-content-between">
    <div class="my-3 p-3">
      <h2 class="display-6 fw-semibold text-primary">Instant Settlement</h2>
      <p class="lead fw-normal">
        Receive funds immediately.
        No more waiting days for processors to release your money.
      </p>
    </div>
    <div class="bg-dark shadow-sm mx-auto instant-settlement"
      style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"></div>
  </div>
</div>
<div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">
  <div class="me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden d-flex flex-column justify-content-between">
    <div class="my-3 p-3">
      <h2 class="display-6 fw-semibold text-primary">Global Reach</h2>
      <p class="lead fw-normal">
        Accept customers from anywhere in the world with same-day settlement and zero
        hidden FX markups.
      </p>
    </div>
    <div class="bg-dark shadow-sm mx-auto global-reach" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0">
    </div>
  </div>
  <div
    class="background-primary-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden d-flex flex-column justify-content-between">
    <div class="my-3 p-3">
      <h2 class="display-6 fw-semibold text-primary">Goodbye Chargebacks</h2>
      <p class="lead fw-normal">
        Reduce chargebacks by up to 80% through built-in fraud protection and instant
        settlement flows.
      </p>
    </div>
    <div class="bg-body shadow-sm mx-auto no-chargebacks"
      style="width: 80%; height: 300px; border-radius: 21px 21px 0 0"></div>
  </div>
</div>