.our-voice-container {
    .image-section {
        img {
            width: 90%;
            max-width: 22rem;
        }
    }
}

@media(min-width: 768px) {
    .our-voice-container {
        .image-section {
            flex-shrink: 0;
        }

        .text-section {
            width: 50%;
        }
    }
}