<div
  class="our-voice-container d-flex flex-column flex-md-row p-3 px-md-5 align-items-center justify-content-md-center mt-3"
>
  <div class="image-section p-3 d-flex justify-content-center">
    <img src="assets/images/business-vision.gif" class="rounded-5 border-primary" />
  </div>
  <div class="text-section p-3 text-center">
    <h1 class="display-4 fw-bold text-primary">Our Vision</h1>
    <p class="text-secondary mb-0">
      We imagine a world where payments work for everyone — not just the
      middlemen. Where money moves fast, fairly, and without complexity. And
      where merchants keep more of what they earn.
    </p>
  </div>
</div>
