<app-tile-1 />
<app-tile-2 />

<div class="our-story container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5 rounded-5 text-center p-4 py-5">
            <h3 class="text-primary fw-bold">Introducing Blocknetica Age Verification (AV) </h3>
            <p class="text-secondary">
                Frictionless, 8-Second Age Checks for Vape, CBD, Alcohol & Restricted Online Retail
                Age-restricted industries face unprecedented scrutiny. But traditional age verification
                adds friction, causes checkout drop-off, and frustrates customers.
                Blocknetica fixes this with Telco-First Age Verification powered by Mobile Network
                Operator (MNO) data
            </p>
        </div>
    </div>
</div>
<app-our-voice />