<div class="tile-1 position-relative overflow-hidden p-3 p-md-5 text-center bg-body-tertiary">
  <div class="p-lg-5 mx-auto my-5 position-relative z-2">
    <h1 class="display-3 fw-bold text-white mt-6">
      Welcome to <span class="fw-bolder company-name">Blocknetica</span>
    </h1>
    <!-- <p
      class="cursor text-white fs-4 mt-4 text mx-auto px-4 py-2 rounded-4 typewriter-animation fs-6"
    >
      Built for Merchants. Engineered for speed. Priced for Growth
    </p> -->
    <p class="cursor text-white fs-4 mt-4 text mx-auto px-4 py-2 rounded-4 typewriter-animation fs-6">
      The future of Payments at your finger tips...
    </p>
    <!-- <h3 class="fw-normal text-muted mb-3"></h3>
    <button class="btn btn-primary px-5 py-2 mt-2 fs-6 rounded-5">
      Explore Features
    </button> -->
  </div>
</div>