<div class="d-flex justify-content-center p-3">
    <div class="text-center p-3 align-items-stretch" style="min-width: 35%;">
      <div
        class="tile-item p-4 py-5 rounded-4 d-flex flex-column justify-content-between h-100"
      >
        <div class="mb-3 pb-3">
          <h2 class="fs-3 fw-bold">Join Us</h2>
          <form [formGroup]="joinUsForm" (ngSubmit)="onSubmit()" autocomplete="off">
            <div>
                <div class="form-floating">
                  <input class="form-control px-4" type="text" autocomplete="off"
                    placeholder="Name" formControlName="name" [maxlength]="globalDatas.MAX_LENGTH_LIMIT"/>
                  <label>Name</label>
                  <app-validation-message [control]="joinUsForm.get('name')" />
                </div>
              </div>
              <div>
                <div class="form-floating">
                  <input class="form-control px-4" type="text" autocomplete="off"
                    placeholder="Company" formControlName="company"/>
                  <label>Company</label>
                  <app-validation-message [control]="joinUsForm.get('company')" />
                </div>
              </div>
              <div>
                  <div class="form-floating">
                    <input class="form-control px-4" type="email" autocomplete="off"
                      placeholder="Email" formControlName="email" />
                    <label>Email</label>
                    <app-validation-message [control]="joinUsForm.get('email')" />
                  </div>
                </div>
               
                <div>
                    <div class="form-floating">
                      <input class="form-control px-4" type="text" autocomplete="off"
                        placeholder="Average Monthly Volume" formControlName="avgMonthlyVolume"/>
                      <label>Average Monthly Volume</label>
                      <app-validation-message [control]="joinUsForm.get('avgMonthlyVolume')" />
                    </div>
                  </div>
                <div>
                  <button class="btn btn-secondary px-5 py-2 mt-5 fs-6 rounded-5">
                      Submit
                    </button>
                </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- <div
  class="d-flex align-items-center justify-content-lg-center fle flex-column flex-lg-row mx-auto my-4"
>
 
  <div class="w-50 text-center mt-4 mx-lg-5 text-section">
    <h1 class="display-4 fw-bold text-primary">Join Us</h1>
    <div class="d-flex justify-content-center p-3">
        <div class="text-center p-3 align-items-stretch" style="min-width: 35%;">
          <div
            class="tile-item p-4 py-5 rounded-4 d-flex flex-column justify-content-between h-100"
          >
            <div class="mb-3 pb-3">
              <form [formGroup]="joinUsForm" (ngSubmit)="onSubmit()" autocomplete="off">
                <div>
                    <div class="form-floating">
                      <input class="form-control px-4" type="text" autocomplete="off"
                        placeholder="Name" formControlName="name" [maxlength]="globalDatas.MAX_LENGTH_LIMIT"/>
                      <label>Name</label>
                      <app-validation-message [control]="joinUsForm.get('name')" />
                    </div>
                  </div>
                  <div>
                    <div class="form-floating">
                      <input class="form-control px-4" type="text" autocomplete="off"
                        placeholder="Company" formControlName="company"/>
                      <label>Company</label>
                      <app-validation-message [control]="joinUsForm.get('company')" />
                    </div>
                  </div>
                  <div>
                      <div class="form-floating">
                        <input class="form-control px-4" type="email" autocomplete="off"
                          placeholder="Email" formControlName="email" />
                        <label>Email</label>
                        <app-validation-message [control]="joinUsForm.get('email')" />
                      </div>
                    </div>
                   
                    <div>
                        <div class="form-floating">
                          <input class="form-control px-4" type="text" autocomplete="off"
                            placeholder="Average Monthly Volume" formControlName="avgMonthlyVolume"/>
                          <label>Average Monthly Volume</label>
                          <app-validation-message [control]="joinUsForm.get('avgMonthlyVolume')" />
                        </div>
                      </div>
                    <div>
                      <button class="btn btn-secondary px-5 py-2 mt-5 fs-6 rounded-5">
                          Submit
                        </button>
                    </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    
  </div>
  <img src="assets/images/block-chain.gif" class="rounded-5" />
</div> -->
  
  <ng-template #successTpl> 'Email sent successfully!' </ng-template>
  
  <ng-template #dangerTpl>
      {{this.errorMessage}}
  </ng-template>